@import './base.scss';

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 15px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    text-transform: uppercase;
    background-color: $secondary-color;
    color: white;
    border: none;
    border-radius: 4px;
    transition: all 0.2s;

    &:hover {
        background-color: $red;
    }
}

#text {
    width: 100%;
}

.form-results {
    font-family: $title-font;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#results {
    line-height: 1.5;
}

@media (max-width: 500px) {
    form {
        padding: 20px;
    }
}